@import 'normalize'
@import 'var'
@import 'mixins'
@import 'fonts'

@import 'header' 
@import 'main'

 
*, *:after, *:before 
  box-sizing: border-box
body 
  font-family: 'Proxima Nova Light', sans-serif
.container
  width: 1170px
  margin: 0 auto     